.footer {
    background-color: #a7a394;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5rem;
    width: 100%;
    overflow: hidden;
    
    .footer-text {
        text-align: center;
        line-height: 5rem;
        vertical-align: middle;
        color: white;
        text-align: center;
    }
}